.font {
  &_color_light-brown{
    color: #E0BFA0;
  }
  &_color_brown{
    color: #2E1A13;
  }
  &_color_white{
       color: #fff;
   }
  &_color_blue{
       color: #419fe1;
   }
  &_color_orange{
       color: #ff8400;
   }
   &_color_gray{
      color: #a4a4a4;
   }
   &_color_gray{
      color: #a4a4a4;
   }
   &_color_ginger{
     color:#BD632F;
   }
  &_weight_normal{
    font-weight: bold;
  }
  &_weight_bold{
    font-weight: bold;
  }
  &_style_normal{
    font-style: normal;
  }
  &_style_italic{
    font-style: italic;
  }
  &_size_auto{
    font-size: 1rem;
  }
  &_size_xs{
    font-size: 0.7rem;
  }
  &_size_s{
    font-size: 0.8rem;
  }
  &_size_m{
    font-size: 0.9rem;
  }
  &_size_l{
    font-size: 1rem;
  }
  &_size_xl{
    font-size: 1.3rem;
  }
  &_size_xl-auto{
    font-size: 1.3rem;
    @media screen and (min-width: 640px){
      font-size: 1.2rem;
    }
  }
  &_size_xxl{
    font-size: 1.5rem;
  }
  &_size_xxl-auto{
    font-size: 1.5rem;
    @media screen and (min-width: 640px){
      font-size: 1rem;
    }
  }
  &_size_2xl{
    font-size: 2rem;
  }
  &_size_3xl{
    font-size: 3rem;
  }
  &_size_4xl, &_size_xxxxl{
    font-size: 4rem;
    line-height: 50px;
  }
}
