.input_theme_light-brown {
  display: block;
  padding: 9px 0;
}
.input_theme_light-brown.input{
  border-radius: 2px;
}
.input_theme_light-brown .input__box{
  display: block;
  padding-top: 2px;

}
.input_theme_light-brown .input__box .input__control{
  color: #E0BFA0;
  background: #FFF8F2;
  border: 1px solid #E0BFA0;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  outline: none;
  padding: 0 5px;
}

$plcolor: #E0BFA0;
.input_theme_light-brown.input__box.input__control::placeholder {color: $plcolor;}
.input_theme_light-brown.input__box.input__control::-webkit-input-placeholder {color: $plcolor;}
.input_theme_light-brown.input__box.input__control::-ms-input-placeholder {color: $plcolor;}
.input_theme_light-brown.input__box.input__control:-moz-placeholder {color: $plcolor;opacity: 1;}
.input_theme_light-brown.input__box.input__control::-moz-placeholder {color: $plcolor;opacity: 1;}
.input_theme_light-brown.input__box.input__control:-ms-input-placeholder {color: $plcolor;}
