.input_theme_brown {
  display: block;
  padding:9px 0;
}
.input_theme_brown.input{
  border-radius: 2px;
}
.input_theme_brown.input__box{
  display: block;
  padding: 5px;
  border-radius: 2px;
}
.input_theme_brown .input__box .input__control{
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  outline: none;
  padding: 0 5px;
}
