.item-top-block__icons {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
}
.item-top-block__item{
  width: 250px;
}
