.footer{
  .ul{
    overflow: hidden;
    padding: 0;
    li {display:block;width:49%;float:left;}
  }

}

.footer__wrapp{
     padding: 10px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
     align-content: center;

    @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
