.button_theme_brown {
  background: #2E1A13;
  border: 2px solid #2E1A13;
  border-radius: 2px;

  color: #E0BFA0;
  cursor: pointer;
  outline: 0;

  text-align: center;
  white-space: nowrap;

}
.button_theme_brown.button_hovered {
  background: #583022;
}
.button_theme_brown.button_checked {
    border-color: #2E1A13;
    color: #2E1A13;
    background: #ffeba0
}

.button_theme_brown.button_disabled {
    border-color: #E0BFA0;
    color: #E0BFA0;
    background: #fff;
}
.button_theme_brown.button_disabled.button_checked {
    background: #ffeba0;
}
.button_theme_brown.button_size_s {
    line-height: 22px;
}
.button_theme_brown.button_size_m {
    line-height: 26px;
}
.button_theme_brown.button_size_l {
    line-height: 30px;
}
.button_theme_brown.button_size_xl {
    line-height: 36px;
    padding: 0 20px;
}
.button_theme_brown.button_size_xxl {
    line-height: 42px;
    padding: 0 20px;
}

.button_theme_brown.button_size_w250px{
  width: 250px;
  line-height: 26px;
}
