.logo {
  &__wrapp-top{
    padding: 15px 10px 10px 116px;
  }
  &_width_100%{
    img{
      width: 100%;
      }
  }
  &_width_120px{
    img{
    width: 120px;
    }
  }
  &_width_200px{
    img{
    width: 200px;
    }
  }

}
