.header {
  /* @media screen and (max-width: 640px) {
      position: fixed;
  } */
  &__wrapp-logo{
    padding: 13% 0px 14% 2%;
    @media (max-width:640px){
     .logo img{
      width: 100%;
     }
    }
  }
  &__wrapp-info{
    padding: 3% 0% 0% 0%;
  }
}
