.text {

  &_pc_center-center{
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
       align-items: center;
       align-content: stretch;
    }
  &_pc_center-left{
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: flex-start;
         align-items: center;
         align-content: stretch;
     }
  &_pc_center-right{
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: flex-end;
         align-items: center;
         align-content: stretch;
     }
  &_mob_center-center{
        @media screen and (max-width: 640px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
        }
      }

  &_decoration_none{
    text-decoration: none;
  }
  &_cursor_pointer{
       cursor:pointer;
  }
  &_align_center{
       text-align: center;
  }
  &_align_left{
       text-align: left;
  }
  &_align_left-pc{
    @media screen and (min-width: 640px) {
      text-align: left;
    }
  }
  &_align_center-mob{
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  &_align_center-left{
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  &_align_right{
    text-align: right;
  }
  &_border_dashed{
    border: 2px dashed #419fe1;
    padding: 5px 15px;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      display: block;
      margin: 11px 0;
    }
  }
  &_text_bold{
    font-weight: bold;
  }
  &_weight_300{
    font-weight: 300;
  }
  &_transform_uppercase{
    text-transform: uppercase;
  }

}
