.page_theme_brown {
  font-family: 'PT Sans';
  font-size: 1rem;
  color: #6B554D;
}
.page_theme_brown-font-Cormorant{
  font-family: 'Cormorant Garamond';
  font-weight: bold;
}
h1,h2{
  font-family: 'Cormorant Garamond';
}

@font-face {
    font-family: 'PT Sans';
    src: url('../font/PTSans-Regular.ttf');
    font-weight: normal;
    font-style: Regular;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../font/PTSans-Bold.ttf');
    font-weight: bold;
    font-style: Regular;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../font/PTSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../font/PTSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/*************************************/
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Regular.ttf');
    font-weight: normal;
    font-style: Regular;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Bold.ttf');
    font-weight: bold;
    font-style: Regular;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Light.ttf');
    font-weight: 300;
    font-style: Regular;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
