.link_theme_brown {
  color:#2E1A13;
}
.link_theme_brown.link_block{
  text-decoration: none;
}
.link_theme_brown.link_hovered.link_block {
  background: #fbf8f6;
  display: block;
}
.link_theme_brown.link_hovered{
  color: #BD632F;
}
.link_theme_brown.link_active{
  color: gray;
}
