.link_theme_light-brown {
  color: #E0BFA0;
}
.link_theme_light-brown.link_block{
  text-decoration: none;
}
.link_theme_light-brown.link_hovered.link_block {
  background: #fbf8f6;
  display: block;
}
.link_theme_light-brown.link_hovered{
  color: #BD632F;
}
.link_theme_light-brown.link_active{
  color: gray;
}
