.form-fast {
  .input_theme_brown .input__box .input__control{
    @media screen and (max-width: 1022px) {
      width: 90%;
    }
    @media screen and (max-width: 640px) {
      width: 250px;
    }
  }
}
