.page{
  &_hide_pc{
      display:block;
    @media screen and (min-width: 640px) {
      display: none!important;
    }
  }
  &_hide_mob{
    display:block;
    @media screen and (max-width: 640px) {
      display: none!important;
    }
  }
  &_display_block{
    display: block;
  }
  &_display_none{
    display: none;
  }

  &_bg-gradient_brown{
    background: linear-gradient(to right, #432419, #2E1913);
  }
  &_bg-color_brown{
    background: #2E1A13;
  }
  &_bg-color_light-brown{
    background: #432419;
  }
  &_bg-color_blue{
    background: #00f;
  }
  &_bg-color_red{
    background: #f00;
  }
  &_bg-color_green{
    background: #0f0;
  }
  &_bg-color_yellow{
    background: #ff0;
  }
  &_bg-color_pink{
    background: #f0f;
  }
  &_bg-color_gray{
    background: gray;
  }
  &_bg-color_light-brown{
    background: #E0BFA0;
  }
}
