.theme {
  $brown:#2E1A13;
  $middle-brown: #6B554D;
  $light-brown: #E0BFA0;
  $blue:#00f;
  $red:#f00;
  $green:#0f0;
  $yellow:#ff0;
  $pink:#f0f;
  $gray:gray;
  $color-base-warning: #f90; /* Цвет предупреждения */
  $color-base-success: #00985f; /* Цвет успеха */
  $color-base-alert: #f33; /* Цвет ошибки */

&_color {
    &_bg-brown{
      background: $brown;
    }
    &_bg-middle-brown{
      background: $middle-brown;
    }
    &_bg-light-brown{
      background: $light-brown;
    }
    &_bg-blue{
      background: $blue;
    }
    &_bg-red{
      background: $red;
    }
    &_bg-green{
      background: $green;
    }
    &_bg-yellow{
      background: $yellow;
    }
    &_bg-pink{
      background: $pink;
    }
    &_bg-gray{
      background: gray;
    }

    &_brown{
      background: $brown;
    }
    &_light-brown{
      background: $light-brown;
    }
    &_blue{
      background: $blue;
    }
    &_red{
      background: $red;
    }
    &_green{
      background: $green;
    }
    &_yellow{
      background: $yellow;
    }
    &_pink{
      background: $pink;
    }
    &_gray{
      background: $gray;
    }
  }

}
