.ux {

    &__grid {
      background: #00ff7f;
    }
    &__grid div {
      background: #00e672;
    }
    &__grid div:first-child {
      lost-column: 1/3;
    }
    &__grid div:last-child {
      lost-column: 2/3;
    }

}
