.theme_color {
  &_bg-brown{
    background: $light-brown;
  }
  &_bg-light-brown{
    background: $light_brown;
  }
  &_bg-blue{
    background: $blue;
  }
  &_bg-red{
    background: $red;
  }
  &_bg-green{
    background: $green;
  }
  &_bg-yellow{
    background: $yellow;
  }
  &_bg-pink{
    background: $pink;
  }
  &_bg-gray{
    background: gray;
  }

  &_brown{
    background: $brown;
  }
  &_light-brown{
    background: $light-brown;
  }
  &_blue{
    background: $blue;
  }
  &_red{
    background: $red;
  }
  &_green{
    background: $green;
  }
  &_yellow{
    background: $yellow;
  }
  &_pink{
    background: $pink;
  }
  &_gray{
    background: gray;
  }

}
