.menu-top {

  &__ul{
    list-style: none;

    &_level_1{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      a{
        text-decoration: none;
        @media screen and (max-width: 888px){
          font-size: 0.7em;
        }
      }
    }
    &_drop-down-parent {
      position: relative;
      display: none;
    }
    &_drop-down_show {
       display: block!important;
    }
    &_drop-down_hidden {
       display: none;
    }
    ul{
      display: none;
      position: absolute;
    }

  }

  &__li{

      &_livel_1{
        flex-grow: 1;
        text-transform: uppercase;
        cursor: pointer;
      }

      &_livel_2{
        display: block;
        text-transform:none;
        flex-grow: 1;
        cursor: pointer;
        a{
          display: block;
          background: #FFF8F2;
          color:#6B554D;
          border-left:2px dashed #FFF8F2;

          margin: 2px 2px;
          padding:15px 20px 15px 18px;
        }

        .link_hovered{
          border: none;
          border-left:2px solid #2E1A13;
          color:#2E1A13;
          background: #E0BFA0;
          padding: 15px 20px 15px 18px;
        }


      }

      &_livel_3{
          display: block;
          flex-grow: 1;
          cursor: pointer;
          a{
            background: #FFF8F2;
            color:#6B554D;
            display: block;
            margin: 2px 0;
            padding: 20px;
          }

          .link_hovered{
            border-left:2px solid #2E1A13;
            color:#2E1A13;
            background: #E0BFA0;
            padding: 20px 15px 20px 15px;
          }


      }
      &_livel_4{
        display: none;
        flex-grow: 1;
        border: 2px solid #FFF8F2;
        cursor: pointer;
      }
  }
}
