.icon {
    background-size: cover;
    width: 50px;
    height:50px;
    &_background-size_auto{
      background-size: auto;
    }
    &_size {
        &_xxs {
            width: 5px;
            height: 5px;
        }
        &_xs {
            width: 10px;
            height: 10px;
        }
        &_s {
            width: 20px;
            height: 20px;
        }
        &_m {
            width: 45px;
            height: 45px;
        }
        &_xl {
            width: 50px;
            height: 50px;
        }
        &_xxl {
            width: 70px;
            height: 70px;
        }
        &_xxxl {
            width: 85px;
            height: 85px;
        }
        &_xxxxl, &_4xl {
            width: 100px;
            height: 100px;
        }
    }

    &_blue-carton {
        padding: 10px 15px 15px;
        background: #419fe1;
        border-radius: 12px;
        margin-top: -30px;
        width: 30px;
        height: 30px;
    }

    /* ur */
    &_ico-ur-arbitrazhnye-sudy {
        background-image: url("../../img/icon/ur/ico_ur_arbitrazhnye_sudy.svg");
    }
    &_ico-ur-arendnye-spory {
        background-image: url("../../img/icon/ur/ico_ur_arendnye_spory.svg");
    }
    &_ico-ur-dogovornye-spory {
        background-image: url("../../img/icon/ur/ico_ur_dogovornye_spory.svg");
    }
    &_ico-ur-ispolnitelnoe-proizvodstvo {
        background-image: url("../../img/icon/ur/ico_ur_ispolnitelnoe_proizvodstvo.svg");
    }
    &_ico-ur-kadastrovaya-stoimost {
        background-image: url("../../img/icon/ur/ico_ur_kadastrovaya_stoimost.svg");
    }
    &_ico-ur-osparivanie-dejstvij-admin {
        background-image: url("../../img/icon/ur/ico_ur_osparivanie_dejstvij_admin.svg");
    }
    &_ico-ur-podgotovka-korp-dokumentov {
        background-image: url("../../img/icon/ur/ico_ur_podgotovka_korp_dokumentov.svg");
    }
    &_ico-ur-pravovoe-zaklyuchenie {
        background-image: url("../../img/icon/ur/ico_ur_pravovoe_zaklyuchenie.svg");
    }
    &_ico-ur-soprovozhdenie-bankrotstva {
        background-image: url("../../img/icon/ur/ico_ur_soprovozhdenie_bankrotstva.svg");
    }
    &_ico-ur-soprovozhdenie-nalog-proverok {
        background-image: url("../../img/icon/ur/ico_ur_soprovozhdenie_nalog_proverok.svg");
    }
    &_ico-ur-soprovozhdenie-sdelok {
        background-image: url("../../img/icon/ur/ico_ur_soprovozhdenie_sdelok.svg");
    }
    &_ico-ur-subsidiarnaya-otvetstvennost {
        background-image: url("../../img/icon/ur/ico_ur_subsidiarnaya_otvetstvennost.svg");
    }
    &_ico-ur-vzyskanie-debit-zadolzhennosti {
        background-image: url("../../img/icon/ur/ico_ur_vzyskanie_debit_zadolzhennosti.svg");
    }
    &_ico-ur-yur-soprovozhdenie {
        background-image: url("../../img/icon/ur/ico_ur_yur_soprovozhdenie.svg");
    }
    &_ico-ur-zashchita-biznesa {
        background-image: url("../../img/icon/ur/ico_ur_zashchita_biznesa.svg");
    }
    &_ico-ur-zashchita-pri-proverkah {
        background-image: url("../../img/icon/ur/ico_ur_zashchita_pri_proverkah.svg");
    }
    &_ico-ur-zashchita-reputacii {
        background-image: url("../../img/icon/ur/ico_ur_zashchita_reputacii.svg");
    }

    /* fiz */
    &_ico-fiz-avtoyurist {
        background-image: url("../../img/icon/fiz/ico_fiz_avtoyurist.svg");
    }
    &_ico-fiz-bankrotstvo {
        background-image: url("../../img/icon/fiz/ico_fiz_bankrotstvo.svg");
    }
    &_ico-fiz-dolevoe-stroitelstvo {
        background-image: url("../../img/icon/fiz/ico_fiz_dolevoe_stroitelstvo.svg");
    }
    &_ico-fiz-ehkonomicheskie-prestupleniya {
        background-image: url("../../img/icon/fiz/ico_fiz_ehkonomicheskie_prestupleniya.svg");
    }
    &_ico-fiz-grazhdanskie-spory {
        background-image: url("../../img/icon/fiz/ico_fiz_grazhdanskie_spory.svg");
    }
    &_ico-fiz-ispolnitelnoe-proizvodstvo {
        background-image: url("../../img/icon/fiz/ico_fiz_ispolnitelnoe_proizvodstvo.svg");
    }
    &_ico-fiz-konsultacii-advokata {
        background-image: url("../../img/icon/fiz/ico_fiz_konsultacii_advokata.svg");
    }
    &_ico-fiz-nasledstvennye-spory {
        background-image: url("../../img/icon/fiz/ico_fiz_nasledstvennye_spory.svg");
    }
    &_ico-fiz-sdelki-s-nedvizhimostyu {
        background-image: url("../../img/icon/fiz/ico_fiz_sdelki_s_nedvizhimostyu.svg");
    }
    &_ico-fiz-sostavlenie-iskov {
        background-image: url("../../img/icon/fiz/ico_fiz_sostavlenie_iskov.svg");
    }
    &_ico-fiz-trudovye-spory {
        background-image: url("../../img/icon/fiz/ico_fiz_trudovye_spory.svg");
    }
    &_ico-fiz-semejnye-spory {
        background-image: url("../../img/icon/fiz/ico_fiz_semejnye_spory.svg");
    }
    &_ico-fiz-zashchita-prav-potrebitelej {
        background-image: url("../../img/icon/fiz/ico_fiz_zashchita_prav_potrebitelej.svg");
    }
    &_ico-fiz-zemelnye-spory {
        background-image: url("../../img/icon/fiz/ico_fiz_zemelnye_spory.svg");
    }
    &_ico-fiz-zhilishchnye-spory {
        background-image: url("../../img/icon/fiz/ico_fiz_zhilishchnye_spory.svg");
    }
    /*benefits*/
    &_ico-nagrada {
        background-image: url("../../img/icon/nagrada.svg");
    }
    &_ico-opyt {
        background-image: url("../../img/icon/opyt.svg");
    }
    &_ico-rezultat {
        background-image: url("../../img/icon/rezultat.svg");
    }

    /*nav elem*/
    &_burger{
      background-image: url("../../img/icon/burger.svg");
    }
    &_arrow_up{
      background-image: url("../../img/icon/arrow-up.svg");
    }
    &_arrow_down{
      background-image: url("../../img/icon/arrow-down.svg");
    }
    &_arrow_right{
      background-image: url("../../img/icon/arrow-right.svg");
    }
    &_correct_menu-top{
        background-position: 5px 8px;
        padding: 0;
    }
}
