.table {
  &__cell{
    &_space-none{

    }
  }
  &_mobile-scroll{
    border-spacing:0px;
    min-width: 600px;

    tr:nth-child(odd) { background: #FFF8F2; }
    tr:hover { background: #fceddf; }
  }

}
