.news {
    &__wrapp{
      display: flex;

      &_type_horizontal{
        justify-content: space-between;
      }
      &_type_vertikal{
        flex-direction: column;
      }
    }
    &__item{
      display: flex;
      &_type_horizontal{
        justify-content: flex-start;
        align-items: stretch;
      }
      &_type_vertikal{
        flex-direction: column;
      }
    }
      &__img{
        width: 260px;
        height: 155px;
      }
      &__info{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
      }
        &__date{
          width: 70px;
        }
        &__title{}
        &__desc{}
        &__link{}
}
