.decorator {
  /* Отступы */
$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 40px;
$space-xxxxl: 48px;
$space-xxxxxl: 72px;
$space-xxxxxxl: 96px;

  &_space-a {
    &_xxxs {
      padding: $space-xxxs;
    }
    &_xxs {
      padding: $space-xxs;
    }
    &_xs {
      padding: $space-xs;
    }
    &_s {
      padding: $space-s;
    }
    &_m {
      padding: $space-m;
    }
    &_l {
      padding: $space-l;
    }
    &_xl {
      padding: $space-xl;
    }
    &_xxl {
      padding: $space-xxl;
    }
    &_xxxl {
      padding: $space-xxxl;
    }
    &_xxxxl {
      padding: $space-xxxxl;
    }
  }
  &_space-v {
    &_xxxs {
      padding-top: $space-xxxs;
      padding-bottom: $space-xxxs;
    }
    &_xxs {
      padding-top: $space-xxs;
      padding-bottom: $space-xxs;
    }
    &_xs {
      padding-top: $space-xs;
      padding-bottom: $space-xs;
    }
    &_s {
      padding-top: $space-s;
      padding-bottom: $space-s;
    }
    &_m {
      padding-top: $space-m;
      padding-bottom: $space-m;
    }
    &_l {
      padding-top: $space-l;
      padding-bottom: $space-l;
    }
    &_xl {
      padding-top: $space-xl;
      padding-bottom: $space-xl;
    }
    &_xxl {
      padding-top: $space-xxl;
      padding-bottom: $space-xxl;
    }
    &_xxxl {
      padding-top: $space-xxxl;
      padding-bottom: $space-xxxl;
    }
    &_xxxxl {
      padding-top: $space-xxxxl;
      padding-bottom: $space-xxxxl;
    }
    &_xxxxxl {
      padding-top: var(--space-xxxxxl);
      padding-bottom: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      padding-top: var(--space-xxxxxxl);
      padding-bottom: var(--space-xxxxxxl);
    }
  }
  &_space-h {
    &_xxxs {
      padding-left: $space-xxxs;
      padding-right: $space-xxxs;
    }
    &_xxs {
      padding-left: $space-xxs;
      padding-right: $space-xxs;
    }
    &_xs {
      padding-left: $space-xs;
      padding-right: $space-xs;
    }
    &_s {
      padding-left: $space-s;
      padding-right: $space-s;
    }
    &_m {
      padding-left: $space-m;
      padding-right: $space-m;
    }
    &_l {
      padding-left: $space-l;
      padding-right: $space-l;
    }
    &_xl {
      padding-left: $space-xl;
      padding-right: $space-xl;
    }
    &_xxl {
      padding-left: $space-xxl;
      padding-right: $space-xxl;
    }
    &_xxxl {
      padding-left: $space-xxxl;
      padding-right: $space-xxxl;
    }
    &_xxxxl {
      padding-left: $space-xxxxl;
      padding-right: $space-xxxxl;
    }
    &_xxxxxl {
      padding-left: var(--space-xxxxxl);
      padding-right: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      padding-left: var(--space-xxxxxxl);
      padding-right: var(--space-xxxxxxl);
    }
  }
  &_space-t {
    &_xxxs {
      padding-top: $space-xxxs;
    }
    &_xxs {
      padding-top: $space-xxs;
    }
    &_xs {
      padding-top: $space-xs;
    }
    &_s {
      padding-top: $space-s;
    }
    &_m {
      padding-top: $space-m;
    }
    &_l {
      padding-top: $space-l;
    }
    &_xl {
      padding-top: $space-xl;
    }
    &_xxl {
      padding-top: $space-xxl;
    }
    &_xxxl {
      padding-top: $space-xxxl;
    }
    &_xxxxl {
      padding-top: $space-xxxxl;
    }
    &_xxxxxl {
      padding-top: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      padding-top: var(--space-xxxxxxl);
    }
  }
  &_space-r {
    &_xxxs {
      padding-right: $space-xxxs;
    }
    &_xxs {
      padding-right: $space-xxs;
    }
    &_xs {
      padding-right: $space-xs;
    }
    &_s {
      padding-right: $space-s;
    }
    &_m {
      padding-right: $space-m;
    }
    &_l {
      padding-right: $space-l;
    }
    &_xl {
      padding-right: $space-xl;
    }
    &_xxl {
      padding-right: $space-xl;
    }
    &_xxxl {
      padding-right: $space-xxxl;
    }
    &_xxxxl {
      padding-right: $space-xxxxl;
    }
    &_xxxxxl {
      padding-right: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      padding-right: var(--space-xxxxxxl);
    }
  }
  &_space-b {
    &_xxxs {
      padding-bottom: $space-xxxs;
    }
    &_xxs {
      padding-bottom: $space-xxs;
    }
    &_xs {
      padding-bottom: $space-xs;
    }
    &_s {
      padding-bottom: $space-s;
    }
    &_m {
      padding-bottom: $space-m;
    }
    &_l {
      padding-bottom: $space-l;
    }
    &_xl {
      padding-bottom: $space-xl;
    }
    &_xxl {
      padding-bottom: $space-xxl;
    }
    &_xxxl {
      padding-bottom: $space-xxxl;
    }
    &_xxxxl {
      padding-bottom: $space-xxxxl;
    }
    &_xxxxxl {
      padding-bottom: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      padding-bottom: var(--space-xxxxxxl);
    }
  }
  &_space-l {
    &_xxxs {
      padding-left: $space-xxxs;
    }
    &_xxs {
      padding-left: $space-xxs;
    }
    &_xs {
      padding-left: $space-xs;
    }
    &_s {
      padding-left: $space-s;
    }
    &_m {
      padding-left: $space-m;
    }
    &_l {
      padding-left: $space-l;
    }
    &_xl {
      padding-left: $space-xl;
    }
    &_xxl {
      padding-left: $space-xxl;
    }
    &_xxxl {
      padding-left: $space-xxxl;
    }
    &_xxxxl {
      padding-left: $space-xxxxl;
    }
    &_xxxxxl {
      padding-left: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      padding-left: var(--space-xxxxxxl);
    }
  }

  &_indent-a {
    &_none {
      margin: 0;
    }
    &_auto {
      margin: auto;
    }
    &_xxxs {
      margin: $space-xxxs;
    }
    &_xxs {
      margin: $space-xxs;
    }
    &_xs {
      margin: $space-xs;
    }
    &_s {
      margin: $space-s;
    }
    &_m {
      margin: $space-m;
    }
    &_l {
      margin: $space-l;
    }
    &_xl {
      margin: $space-xl;
    }
    &_xxl {
      margin: $space-xxl;
    }
    &_xxxl {
      margin: $space-xxxl;
    }
    &_xxxxl {
      margin: $space-xxxxl;
    }
    &_xxxxxl {
      margin: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      margin: var(--space-xxxxxxl);
    }
  }
  &_indent-v {
    &_auto {
      margin-top: auto;
      margin-bottom: auto;
    }
    &_xxxs {
      margin-top: $space-xxxs;
      margin-bottom: $space-xxxs;
    }
    &_xxs {
      margin-top: $space-xxs;
      margin-bottom: $space-xxs;
    }
    &_xs {
      margin-top: $space-xs;
      margin-bottom: $space-xs;
    }
    &_s {
      margin-top: $space-s;
      margin-bottom: $space-s;
    }
    &_m {
      margin-top: $space-m;
      margin-bottom: $space-m;
    }
    &_l {
      margin-top: $space-l;
      margin-bottom: $space-l;
    }
    &_xl {
      margin-top: $space-xl;
      margin-bottom: $space-xl;
    }
    &_xxl {
      margin-top: $space-xxl;
      margin-bottom: $space-xxl;
    }
    &_xxxl {
      margin-top: $space-xxxl;
      margin-bottom: $space-xxxl;
    }
    &_xxxxl {
      margin-top: $space-xxxxl;
      margin-bottom: $space-xxxxl;
    }
    &_xxxxxl {
      margin-top: var(--space-xxxxxl);
      margin-bottom: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      margin-top: var(--space-xxxxxxl);
      margin-bottom: var(--space-xxxxxxl);
    }
  }
  &_indent-h {
    &_auto {
      margin-left: auto;
      margin-right: auto;
    }
    &_xxxs {
      margin-left: $space-xxxs;
      margin-right: $space-xxxs;
    }
    &_xxs {
      margin-left: $space-xxs;
      margin-right: $space-xxs;
    }
    &_xs {
      margin-left: $space-xs;
      margin-right: $space-xs;
    }
    &_s {
      margin-left: $space-s;
      margin-right: $space-s;
    }
    &_m {
      margin-left: $space-m;
      margin-right: $space-m;
    }
    &_l {
      margin-left: $space-l;
      margin-right: $space-l;
    }
    &_xl {
      margin-left: $space-xl;
      margin-right: $space-xl;
    }
    &_xxl {
      margin-left: $space-xxl;
      margin-right: $space-xxl;
    }
    &_xxxl {
      margin-left: $space-xxxl;
      margin-right: $space-xxxl;
    }
    &_xxxxl {
      margin-left: $space-xxxxl;
      margin-right: $space-xxxxl;
    }
    &_xxxxxl {
      margin-left: var(--space-xxxxxl);
      margin-right: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      margin-left: var(--space-xxxxxxl);
      margin-right: var(--space-xxxxxxl);
    }
  }
  &_indent-t {
    &_none {
      margin-top: 0;
    }
    &_xxxs {
      margin-top: $space-xxxs;
    }
    &_xxs {
      margin-top: $space-xxs;
    }
    &_xs {
      margin-top: $space-xs;
    }
    &_s {
      margin-top: $space-s;
    }
    &_m {
      margin-top: $space-m;
    }
    &_l {
      margin-top: $space-l;
    }
    &_xl {
      margin-top: $space-xl;
    }
    &_xxl {
      margin-top: $space-xxl;
    }
    &_xxxl {
      margin-top: $space-xxxl;
    }
    &_xxxxl {
      margin-top: $space-xxxxl;
    }
    &_xxxxxl {
      margin-top: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      margin-top: var(--space-xxxxxxl);
    }
  }
  &_indent-r {
    &_xxxs {
      margin-right: $space-xxxs;
    }
    &_xxs {
      margin-right: $space-xxs;
    }
    &_xs {
      margin-right: $space-xs;
    }
    &_s {
      margin-right: $space-s;
    }
    &_m {
      margin-right: $space-m;
    }
    &_l {
      margin-right: $space-l;
    }
    &_xl {
      margin-right: $space-xl;
    }
    &_xxl {
      margin-right: $space-xl;
    }
    &_xxxl {
      margin-right: $space-xxl;
    }
    &_xxxxl {
      margin-right: $space-xxxl;
    }
    &_xxxxxl {
      margin-right: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      margin-right: var(--space-xxxxxxl);
    }
  }
  &_indent-b {
    &_xxxs {
      margin-bottom: $space-xxxs;
    }
    &_xxs {
      margin-bottom: $space-xxs;
    }
    &_xs {
      margin-bottom: $space-xs;
    }
    &_s {
      margin-bottom: $space-s;
    }
    &_m {
      margin-bottom: $space-m;
    }
    &_l {
      margin-bottom: $space-l;
    }
    &_xl {
      margin-bottom: $space-xl;
    }
    &_xxl {
      margin-bottom: $space-xxl;
    }
    &_xxxl {
      margin-bottom: $space-xxxl;
    }
    &_xxxxl {
      margin-bottom: $space-xxxxl;
    }
    &_xxxxxl {
      margin-bottom: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      margin-bottom: var(--space-xxxxxxl);
    }
  }
  &_indent-l {
    &_xxxs {
      margin-left: $space-xxxs;
    }
    &_xxs {
      margin-left: $space-xxs;
    }
    &_xs {
      margin-left: $space-xs;
    }
    &_s {
      margin-left: $space-s;
    }
    &_m {
      margin-left: $space-m;
    }
    &_l {
      margin-left: $space-l;
    }
    &_xl {
      margin-left: $space-xl;
    }
    &_xxl {
      margin-left: $space-xxl;
    }
    &_xxxl {
      margin-left: $space-xxxl;
    }
    &_xxxxl {
      margin-left: $space-xxxxl;
    }
    &_xxxxxl {
      margin-left: var(--space-xxxxxl);
    }
    &_xxxxxxl {
      margin-left: var(--space-xxxxxxl);
    }
  }
}
