.map {
  position:relative;
  width:100%;
  height:535px;
  @media screen and (max-width: 640px) {
    height:279px;
  }
  &__cover{
    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
    height: 535px;
    @media screen and (max-width: 640px) {
      height:279px;
    }
  }
  &__wrapp{

  }
  &__content {
    background: #fff;
    position: absolute;
    z-index: 10000;
    width: 255px;
    height: 380px;
    padding: 30px;
    top: 50px;
    left: 15%;
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
  &_black-white{
    /* black white map */
    [class*="ymaps-2"][class*="-ground-pane"]{
     filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -webkit-filter:grayscale(100%);
    }
  }
}
