.banner-top {
  &__wrapp{
    height: 450px;
    width: 100%;
    background-image: url('/img/banner-abramov.jpg');
    background-size: cover;
    background-position: 35% 0px;
    @media screen and (max-width: 1100px){
      padding-right: 2%;
      width: 98%;
      height: 500px;
    }
  }
  &__title{
    color: white;
    font-size: 4em;
    line-height: 50px;
    @media screen and (max-width: 640px){
      font-size: 2em;
      line-height: 20px;
    }


  }
}
