.image {
    border-radius: 2px;
  &_mob_adaptive{
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
  &_w_100procent{
      width: 100%;
  }
  &_w_75procent{
      width: 75%;
  }

}
