.category__ur {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
  &-title_hide_mob{
    display:flex;
    @media screen and (max-width: 640px) {
      display: none!important;
    }
  }
  &_hide_mob{
    display:flex;
    @media screen and (max-width: 640px) {
      display: none!important;
    }
  }
}
