.link {
    &_cursor_pointer{
      cursor: pointer;
    }
    &_color_brown{
      color:#E0BFA0
    }
    &_color_light-brown{
      color:#E0BFA0
    }
    &_active{
      > a{
        color: gray;
      }
    }
    &_hovered{
      color: #BD632F;
    }
}
.current{
  a{
    color: gray;
  }
}
